

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #0b0d0e;
    color: #e7ebed;
}

.toggleUIModeContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.toggleUIMode {
    filter: invert(0%);
    user-select: none;
    display: block;
}

body.dark-mode .toggleUIMode {
    filter: invert(100%);
}

.container {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05); 
}

body.dark-mode .container {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05); 
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-box {
    padding: 10px;
    width: 300px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

body.dark-mode .form-box input {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #333;
}

.link {
    margin-top: 10px;
    color: #666;
    text-decoration: none;
    float: left;
}

.footer-container {
    width: 300px;
}

.right {
    float: right;
}