

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #0b0d0e;
    color: #e7ebed;
}

input {
    color-scheme: light;
}

body.dark-mode input {
    color-scheme: dark;
}

select {
    color-scheme: light;
}

body.dark-mode select {
    color-scheme: dark;
}

.toggleUIModeContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.toggleUIMode {
    filter: invert(0%);
    user-select: none;
    display: block;
}

body.dark-mode .toggleUIMode {
    filter: invert(100%);
}

.container {
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 8px;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05); 
    margin: 5px;
}

body.dark-mode .container {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05); 
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-box {
    padding: 10px;
    width: 300px;
}

.textfield {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: block;
}

body.dark-mode .textfield {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.errorfield {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.2 );
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    display: none;
}

body.dark-mode .errorfield {
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.btn {
    width: 100%;
    max-width: 1080px;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
}

.btn:hover {
    background-color: #333;
}

.link {
    margin-top: 10px;
    color: #666;
    text-decoration: none;
    float: left;
}

.footer-container {
    width: 300px;
}

.right {
    float: right;
}

.centered-content {
    text-align: center;
}

body.dark-mode .container #listiconModel {
    filter: invert(100%);
}